@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5BD469;
}
.wrapper{
    height: 260px;
    background: white;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;
    
}
.wrapper.active{
    height: 530px;
}
header h1{
    font-size: 21px;
    font-weight: 500;
}
header p{
    margin-top: 5px;
    font-size: 16px;
    color: #474747
}
.wrapper .form{
    margin: 2-px 0 25px;
}
.form :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form input{
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
    margin-top: 10px;
}
.form button{
    color: black;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    transition: 0.5s;
}
.form button:hover{
    background: #3498db;
    color: white;
}
.wrapper .qr-code{
    margin-top: 10px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}